body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif;
  background-color: #eff3f4;
}

.input {
  padding: 20px;
}

.input-styling {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
  Arial, sans-serif;
  padding: 4px 8px;
  border-radius: 4px;
  font-size: 14px;
  border: 1px solid rgb(114, 114, 114);
}

.input-button {
  background-color: white;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
  Arial, sans-serif;
  padding: 4px 8px;
  border-radius: 4px;
  font-size: 14px;
  border: 1px solid rgb(114, 114, 114);
}

.hidden {
  display: none;
}

.settings-input {
  margin-top: 20px;
  background-color: white;
  border-radius: 5px;
  padding: 20px;
}

.settings-input-inner {
  display: flex;
}

.settings-input-inner div {
  margin-right: 30px;
}